{% extends 'layout.html.twig' %}

{% block main %}

    <h2>Rajouter une idée! </h2>

    {# todo: afficher un formulaire #}
    {{ form_start(IdeaForm) }}
    {{ app.token.username }}
    {{ form_widget (IdeaForm) }}


    <button type="submit">Send!</button>
    {{ form_end(IdeaForm) }}
{% endblock %}

{% block title %} Rajouter une idée  ! |{{ parent() }} {% endblock %}